*{
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
  position: fixed;
  height: 100vh;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 109vh;
  background: linear-gradient(to right, #000428, #004e92);
}

.navbar{
  width: 1200px;
  height: 60px;
}

.icon{ 
  width: auto;
  height: auto;
}

.logo{
  font-family: "times new roman";
  text-align: center;
}






