*{
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  justify-content: center;
  align-item: center;
  flex-direction: column;
  width: 100%;
  min-height: 109vh;
  background: linear-gradient(to right, #000428, #004e92);
  background-size: cover;
}

.navbar{
  width: 1200px;
  height: 60px;
}

.icon{ 
  width:0 auto;
  height: auto;
}

.logo{
  font-family: "times new roman";
  text-align: center;
}






