*{
  margin: 0;
  padding: 0;
}

html,body{
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height:100vh;
  min-height: webkit-fill-avaiable;
  background: #ab41d1;
  background: linear-gradient(1deg, rgba(171, 65, 209, 1) 10%, rgba(181, 49, 214, 1) 19%, rgba(61, 174, 196, 1) 100%);
  gap: 20px;
  row-gap: 45px;
}

a {
  text-decoration: none;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0;
}

.icon{ 
  width: auto;
  height: auto;
}

.logo{
  font-family: "times new roman";
  text-align: center;
  color: white;
  font-size: clamp(24px,8vw,72px);
}
.button {
  display:flex;
  align-items: center;
  justify-content: center;
}
.in{
  font-family: "times new roman", sans-serif;
  width: 200px;
  height: 50px;
  border-radius: 20%;
  font-size:20px;
  border: none;
  box-shadow: 0px 0px 10px 6px #B531D6;
}


@media(orientation:potrait){
  .in{
    font-size:clamp(20px,6vw,48px);
  }

  @media(orientation:landscape){
  .in{
     font-size: clamp(24px,8vw,72px);
    }
  

  
