
  #navigasi {
  display:none;
}

.hamburger {
  display: flex;
  font-size:30px;
  cursor:pointer;
  z-index:9999;
  bottom: 29px;
  right: 40px;
  position: fixed;
  background: white;
  box-shadow: 0px 0px 10px 2px black;
  border-radius: 100%;
  border: 1px solid black;
  padding: 10px;
  transition: transform 0.5s ease;
}

nav{
  display: flex;
  justify-content: flex-end;
  
  
}
.nav-ul{
  display: none;
  list-style: none;
  flex-direction: column;
  gap: 25px;
  position:fixed;
  background-color: gray;
  right: 40px;
  bottom: 31px;
  padding-bottom: 20px;
  padding-top: 20px;
}

nav li {
  display: flex;
  margin: 8px 20px;
  
  
}

#navigasi:checked ~ .hamburger{
  transform: rotate(180deg);
}
#navigasi:checked ~ .nav-ul {
  transform: translateY(20px);
  display:flex;
}

/*mengatur link dari navigasi*/
.nav-button {
  font-size: 20px;
  border: none;
  color:white;
  text-decoration: none;
  transition: all 0.5s cubic-bezier(0.5,1,1,0.5)
}
/*Untuk ngatur link kalau di tekan atau ada kursor*/
 .nav-button:hover {
   background-color: black;
   border-radius: 5px;
 }

@media (max-width:480px) {
  .hamburger {
    display: flex;
    padding: 10px;
    right: 30px;
  }
  
  .nav-ul{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    right: 30px;
    bottom: 31px;
    
  }
  
  #navigasi:checked~ .nav-ul{
    display: flex;
  }
  
  .nav-button{
    padding: 8px 20px;
    font-size: 14px;
  }
}





