
h1, h2, p {
  font-family: "times new roman", sans-serif;
  text-align: center;
}

nav ul {
  list-style-type: none;  
  padding: 0;              
  text-align: center;      
  background-color: #34495E;
}

nav li {
  display: inline-block;   
}

nav a {
  display: inline-block;  
  padding: 10px 20px;
  margin: 8px;
  color: white;            
  text-decoration: none;   
}

nav a:hover {
  background-color: #555;  
}
  
  

.samping {
  font-family: "times new roman", sans-serif;
  text-align: left;
}

.kanan {
  font-family: "times new roman";
  text-align: right;
}

