
h1, h2, p {
  font-family: "times new roman", sans-serif;
  text-align: center;
}
   

.samping {
  font-family: "times new roman", sans-serif;
  text-align: left;
}

.kanan {
  font-family: "times new roman";
  text-align: right;
}

